@use "./buttons";
@use "./input";
@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@200..800&family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");


body,
html {
  font-size: 16px;
  font-family: "Quicksand", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
  color: #333;
  line-height: 1.5;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;

  max-width: 75ch;
  margin: 0 auto;
  @media screen and (max-width: 768px) {
    padding: 2rem;
  }
}

h1 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

h2 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

h3 {
  font-size: 1.25rem;
  font-weight: 500;
  margin-bottom: 0.25rem;
}

h4 {
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 0.25rem;
}
