.companyNav{
    background-color: rgb(127, 183, 187);
    color:rgb(255, 255, 255);
    display: flex  ;
    justify-content: space-around;
    padding: 10px 20px;

    a{
        color:white;
    }
}