body, html {
  height: 100%;
  width: 100%;
  margin: 0;
  margin-top: 150px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #cc92bb, #6da9ed);
}

.company-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.company-header {
  font-size: 2rem;
  font-weight: bold;
  color: white;
  text-align: center;
  padding: 20px 0;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /* Optional: Adds a semi-transparent background */
}

.outlet-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* Full screen */
  width: 100%;
  padding-top: 80px;
  /* To prevent content from hiding behind the header */
}

.card {
  max-width: 1000px;
  width: 90%;
  padding: 20px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.title {
  color: #333;
}

.searchBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
}

.dateInput {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.searchButton {
  background: #007bff;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}

.searchButton:hover {
  background: #0056b3;
}

.errorMessage {
  color: red;
  margin-top: 10px;
}

.subtitle {
  color: #333;
}

.flightsList {
  list-style: none;
  padding: 0;
}

.flightItem {
  background: #ffffff;
  margin: 10px 0;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.flightItem:nth-child(odd) {
  background: #f1f1f1;
}

.noFlights {
  color: gray;
}
